/180daraga.png
/bg-pattern-quotation.svg
/cart.svg
/design.png
/design2.jpg
/desktop-design.jpg
/DesktopDesign.png
/Exercise.html
/Exercise.js
/icon-api.svg
/icon-budgeting.svg
/icon-hamburger.svg
/icon-onboarding.svg
/icon-online.svg
/image-confetti.jpg
/image-currency.jpg
/image-daniel.jpg
/image-header-desktop.jpg
/image-jeanette.jpg
/image-jonathan.jpg
/image-kira.jpg
/image-mockups.png
/image-patrick.jpg
/image-plane.jpg
/image-restaurant.jpg
/images
/in.css
/index.html
/index2.html
/index3.html
/logo.svg
/logo2.svg
/luffy.jpg
/matebook.png
/mobile-design.jpg
/mobile.png
/mobileView.png
/Page Design.png
/practise
/session 4.css
/session 4.html
/session3(desktop).png
/session3(phone).png
/Task 4.html
/Task 4.js
/TaskFour.zip
/TaskOne.zip
/TaskThree.zip
/TaskTwo.zip
/TTTTT